<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-bold text-6xl text-center">
    <p>Nuestras Ofertas</p>
  </div>

  <div class="text-700 text-xl mb-6 text-center line-height-3">
  YMCONSTRUMAX 
  </div>


  <div class="grid">
    <div class="col-12 lg:col-12">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 h-full flex flex-column surface-card"
          style="border-radius: 6px"
        >
          <!-- <div class="text-900 font-medium text-xl mb-2">Nuestros Servicios</div> -->
          <div class="card flex justify-content-center">
            <a class="inline-block bg-green-500" [routerLink]="['/solicitud']">Enviar Solicitud</a>
           
          </div>
          <!-- <div class="text-600">Plan description</div> -->
          <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
          <!-- <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$9</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div> -->
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Brindamos servicios de construcción civil y montaje de nuevas obras, edificaciones e instalaciones.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Fabricamos y comercializamos partes y piezas de carpintería para edificios y construcciones, así como brindar servicios de
                carpintería, incluido el aserrado y la acepilladura de madera.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Fabricamos y comercializamos recipientes de madera, así como artículos de corchopaja y materiales trenzables y hojas de
                madera para enchapado y tableros a base de madera.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Brindamos servicios de recogida de desechos no peligrosos así como realizar actividades de recuperación de materiales
                permitidos por la ley.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Brindamos servicios de demolición, desmontaje, remodelación, restauración, reconstrucción y rehabilitación de
                edificaciones, instalaciones y otros objetos existentes, así como de reparación y mantenimiento constructivo y de
                preparación del terreno con fines constructivos.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Brindamos servicios de instalación, mantenimiento y reparación de instalaciones eléctricas, de fontanería y aire
                acondicionado, así como de otras instalaciones para obras de construcción.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Brindamos servicios de terminación y acabado de edificaciones, así como de actividades especializadas de la
                construcción.</span>
            </li>
          </ul>
          <hr
            class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto"
          />
          <div class="card flex justify-content-center">
            <a class="inline-block bg-green-500" [routerLink]="['/solicitud']">Enviar Solicitud</a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
