<section class="todolist-wrapper">
  <p-card header="Visión:">
    <ul class="todolist m-0">
      <li>
        Ser una nueva forma de gestión económica, reconocida como una micro
        empresa organizada, competitiva y líder en la provincia de Artemisa, en
        la ejecución de proyectos especializados de la construcción que
        contribuyan al mejoramiento de la infraestructura y crecimiento
        económico regional.
      </li>
    </ul>
  </p-card>
  <p-card header="Valores:">
    <ul class="todolist m-0">
      <li>
        Compromiso; Desarrollamos nuestro trabajo comprometidos de forma
        permanente con nuestros clientes, colaboradores, en el cumplimiento de
        sus necesidades y expectativas.
      </li>
      <li>Lealtad; Actuar con honestidad, responsabilidad y respeto.</li>
      <li>
        Creatividad e Innovación: Dispuestos a mejorar en forma continua y
        aplicar las mejores prácticas y nuevas formas para potenciar y
        diversificar nuestros servicios.
      </li>
      <li>
        Como slogan comercial de la empresa para conectar con los clientes, la
        dirección de la organización y sus colaboradores identifican "Soluciones
        Confiables". Su mensaje se relaciona directamente con la misión del
        proyecto de negocio.
      </li>
    </ul>
  </p-card>
</section>
