<section class="todolist-wrapper">

<ol class="todolist">
    
    <li>-Brindar servicios de construcción civil y montaje de nuevas obras, edificaciones e instalaciones.
    Otras actividades a desarrollar</li>

    <li>-Fabricar y comercializar partes y piezas de carpintería para edificios y construcciones, así como brindar servicios de
    carpintería, incluido el aserrado y la acepilladura de madera.</li>

    <li>-Fabricar y comercializar recipientes de madera, así como artículos de corchopaja y materiales trenzables y hojas de
    madera para enchapado y tableros a base de madera.</li>

    <li>-Brindar servicios de recogida de desechos no peligrosos así como realizar actividades de recuperación de materiales
    permitidos por la ley.</li>

    <li>-Brindar servicios de demolición, desmontaje, remodelación, restauración, reconstrucción y rehabilitación de
    edificaciones, instalaciones y otros objetos existentes, así como de reparación y mantenimiento constructivo y de
    preparación del terreno con fines constructivos.</li>

    <li>-Brindar servicios de instalación, mantenimiento y reparación de instalaciones eléctricas, de fontanería y aire
    acondicionado, así como de otras instalaciones para obras de construcción.</li>

    <li>-Brindar servicios de terminación y acabado de edificaciones, así como de actividades especializadas de la
    construcción</li>
</ol>
</section>