@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-100 text-white;
}

.img-pequena {
  width: 50%; /* Reducir el ancho de la imagen a la mitad */
  height: auto; /* Mantener la proporción de aspecto de la imagen */
  display: block; /* Para evitar espacio adicional debajo de la imagen */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-top: 10px;
  border-radius: 5%;
}
.card-imagenes {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mensaje-error{
  color:red;
  font-size: 12px;
  margin-top: 5px;
}
.campo-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

